*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    

}
nav{
    width: 100%;
    height: 75px;
    line-height: 73px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;
    background-color: white;
    border-bottom: 3px solid rgb(0, 0, 0);
    
}
nav .logo{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
nav .logo h1{
    float: left;
    color: chocolate;
    text-transform: uppercase;
}
nav ul{
    flex: 1;
    float: right;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    
    color: chocolate;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    padding:0px 20px;
}
/*nav ul li a:hover{
    color: white;
    background-color: black;
    display: block;
    
    
}*/
.har:hover,.act:hover{
    color: white;
    background-color: black;
    display: block;
}
nav ul li a img:hover{
    opacity: 0.7;
}
nav ul li .act{
    color: black;
}


.toggle-button{
    flex: 1;
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
@media (max-width: 870px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;

    }
    .nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        flex-direction: column;

    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding: 0.5rem 1rem;
    }
    .navbar-links.act{
        display: flex;
    }
     
}

.body a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 16px;
    font-size: 55px;
    margin: 300px 0;
}

.body a:hover {
    background-color: var(--clr-bg);
    color: var(--clr-neon);
    display: inline-block;
    opacity: 1;
}

.body .previous {
    background-color: var(--clr-bg);
    color: var(--clr-neon);
    opacity: 0;
    
}

.body .next {
    background-color: var(--clr-bg);
    color: var(--clr-neon);
    opacity: 0;
   
}


:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--clr-bg);
    font-family: "Balsamiq Sans", cursive;
    color: var(--clr-neon);
    padding-right: 10rem;
  }*/
  
  .previous {
    font-size: 4rem;
  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }
  
  .previous::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .previous::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .previous:hover,
  .previous:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .previous::before,
  .previous:focus::before {
    opacity: 1;
  }
  .previous:hover::after,
  .previous:focus::after {
    opacity: 1;
  }
  
  

  
  :root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--clr-bg);
    font-family: "Balsamiq Sans", cursive;
    color: var(--clr-neon);
    padding-right: 10rem;
  }*/
  
  .next {
    font-size: 4rem;
  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }
  
  .next::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .next::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .next:hover,
  .next:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .next:hover::before,
  .next:focus::before {
    opacity: 1;
  }
  .next:hover::after,
  .next:focus::after {
    opacity: 1;
  }
  
  

.logo h1 i{
    width: 50px;
    height: 50px;
}



.homebtn{
    font-size: larger;
    color: hsl(317 100% 54%);
    background-color: hsl(323 21% 16%);
}





:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--clr-bg);
    font-family: "Balsamiq Sans", cursive;
    color: var(--clr-neon);
    padding-right: 10rem;
  }*/
  
  .homebtn {
    font-size: 1.5rem;
  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }
  
  .homebtn::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .homebtn::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .homebtn:hover,
  .homebtn:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .homebtn::before,
  .homebtn:focus::before {
    opacity: 1;
  }
  .homebtn:hover::after,
  .homebtn:focus::after {
    opacity: 1;
  }